<template>
  <div>
    <Header></Header>
    <div class="home">
      <!-- Total Items -->
      <h2 class="total-items">
        Total ({{ constant.DISHDATASET.length }}) items
      </h2>
      <div class="dish-container">
        <v-flex xl8 lg8 md8 sm12 xs12>
          <!-- Food cards -->
          <div v-for="dish in constant.DISHDATASET" :key="dish.id">
            <FoodCard
              class="food-card"
              :image="dish.image"
              :dish="dish.dish"
              :restaurant="dish.restaurant"
              :amount="dish.rate"
              :quantity="1"
              :hasPromocode="dish.hasPromocode"
            ></FoodCard>
          </div>
        </v-flex>
        <v-flex xl4 lg4 md4 sm12 xs12>
          <!-- Back to shops button -->
          <Button
            class="button-class hide-sm"
            buttonText="Back to shops"
            color="#00FFFF"
            buttonWidth="15rem"
          ></Button>
          <!-- Checkout card -->
          <CheckoutCard
            :items="constant.DISHDATASET.length"
            :subtotal="constant.CHECKOUTDATASET.subTotal"
            :discount="constant.CHECKOUTDATASET.discount"
          ></CheckoutCard>
        </v-flex>
      </div>
      <!-- You may also like section -->
      <h2 class="total-items">You may also like</h2>
      <Carousel :data="constant.CAROUSELDATA"></Carousel>
    </div>
    <!-- Tabs - Mobile only -->
    <v-tabs
      class="tabs-class"
      v-model="tab"
      background-color="transparent"
      active-class="active-tab"
      color="basil"
      grow
    >
      <v-tab class="tab">
        <v-icon>mdi-home</v-icon>
        <p>Home</p>
      </v-tab>
      <v-tab class="tab">
        <v-icon>mdi-chat</v-icon>
        <p>Chat</p>
      </v-tab>
      <v-tab class="tab">
        <v-icon>mdi-cart</v-icon>
        <p>Cart</p>
      </v-tab>
      <v-tab class="tab">
        <v-icon>mdi-account</v-icon>
        <p>Profile</p>
      </v-tab>
    </v-tabs>
  </div>
</template>

<script>
import Header from "@/components/header.vue";
import FoodCard from "@/components/food-card.vue";
import CheckoutCard from "@/components/checkout-card.vue";
import Button from "@/components/common/button.vue";
import Carousel from "@/components/carousel.vue";

import constants from "@/constant/index";
export default {
  name: "ArminoHome",
  components: {
    Header,
    FoodCard,
    CheckoutCard,
    Button,
    Carousel,
  },
  data() {
    return {
      constant: constants,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "@/colors.scss";
.home {
  padding: 1rem 3rem;
  min-height: 100vh;
  background: $grey;
  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}
.total-items {
  color: $primary;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.dish-container {
  display: flex;
  flex-wrap: wrap;
}
.food-card {
  margin: 1rem;
}
.button-class {
  text-align: right;
  margin: 1rem 0;
  ::v-deep .v-btn__content {
    font-weight: bold;
    color: $white;
  }
}
.tabs-class {
  background: $white;
  position: fixed;
  bottom: 0;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
.tab {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
}
.active-tab {
  color: $primary !important;
}
.hide-sm {
  @media (max-width: 768px) {
    display: none;
  }
}
::v-deep .v-tabs-slider {
  display: none;
}
// To increase the ab height
::v-deep .v-slide-group__wrapper {
  height: 4.5rem;
  width: 100%;
}
// To hide the left overflow in v-tabs
::v-deep
  .v-tabs:not(.v-tabs--vertical):not(.v-tabs--right)
  > .v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(.v-slide-group--has-affixes)
  .v-slide-group__prev {
  display: none;
}
</style>
