<template>
  <div>
    <v-btn
      :outlined="outlined"
      :rounded="rounded"
      @click="onButtonClick"
      :color="color"
      :style="`width: ${buttonWidth}`"
    >
      <!-- Prepend Icon -->
      <v-icon class="icon">{{ prependIcon }}</v-icon> 
      <!-- Button Label -->
      {{ buttonText }}
      <!-- Badge -->
      <v-badge
        :bordered="badgeContent !== '' || badgeIcon !== ''"
        :color="badgeIcon || badgeContent ? '#FFC300' : 'transparent'"
        :icon="badgeIcon"
        :content="badgeContent"
        :overlap="badgeIcon || badgeContent"
      >
      <!-- Append Icon -->
        <v-icon class="icon">{{ appendIcon }}</v-icon>
      </v-badge>
    </v-btn>
  </div>
</template>

<script>
export default {
  props: {
    buttonText: {
      type: String,
      required: false,
      default: "",
      description: "Defines the label of the button to be displayed",
    },
    outlined: {
      type: Boolean,
      required: false,
      default: false,
      description: "Defines whethet the button type is outlined",
    },
    rounded: {
      type: Boolean,
      required: false,
      default: false,
      description: "Defines whethet the button type is rounded",
    },
    badgeIcon: {
      type: String,
      required: false,
      default: "",
      description: "Defines the badge icon to be displayed",
    },
    prependIcon: {
      type: String,
      required: false,
      default: "",
      description: "Defines the prepend Icon to be displayed",
    },
    appendIcon: {
      type: String,
      required: false,
      default: "",
      description: "Defines the append Icon to be displayed",
    },
    badgeContent: {
      type: String,
      required: false,
      default: "",
      description: "Defines the badge content to be displayed",
    },
    color: {
      type: String,
      required: false,
      default: "",
      description: "Defines the color of the button to be displayed",
    },
    buttonWidth: {
      type: String,
      required: false,
      default: "",
      description: "Defines the width of the button to be displayed",
    },
  },
  methods: {
    onButtonClick() {
      this.$emit("click");
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/colors.scss";
.icon {
  padding: 0 0.5rem;
}
::v-deep .v-btn__content {
  font-size: 12px;
  color: $primary;
}
</style>
