<template>
  <div>
    <v-text-field
      :label="label"
      :appendIcon="appendIcon"
      @input="onInput"
      :solo="solo"
      :success-messages="successMessage"
      :error-messages="errorMessage"
      :persistent-hint="hint"
      :class="textFieldClass"
      :success="success"
      :rules="rules"
    ></v-text-field>
  </div>
</template>

<script>
export default {
  name: "TextField",
  props: {
    label: {
      type: String,
      required: false,
      default: "",
      description: "Defines the label of the textfield to be displayed",
    },
    appendIcon: {
      type: String,
      required: false,
      default: "",
      description: "Defines the label of the textfield to be displayed",
    },
    solo: {
      type: Boolean,
      required: false,
      default: false,
      description: "Defines whether the input type is solo",
    },
    successMessage: {
      type: String,
      required: false,
      default: "",
      description: "Defines persistent hint of text input",
    },
    errorMessage: {
      type: String,
      required: false,
      default: "",
      description: "Defines persistent hint of text input",
    },
    success: {
      type: Boolean,
      required: false,
      default: false,
      description: "Defines success style of the hint",
    },
    textFieldClass: {
      type: String,
      required: false,
      default: "",
      description: "Defines the textfield class",
    },
  },
  data() {
    return {
      rules: (data) => "Promocode 1".test(data) || this.errorMessage[0],
    };
  },
  methods: {
    onInput(value) {
      this.$emit("input", value);
    },
  },
};
</script>

<style></style>
