// Primary
$primary: #00FFFF;

// Black
$black: #000000;

// White
$white: #FFFFFF;
$white-2: #999999;

// Red
$red: #ff0000;

// Green
$green: #00ff00;

// Grey
$grey: #D8D8D8;

// Pink
$pink:	#DB7093;