<template>
  <div class="card-container">
    <figure class="image-container">
      <img :src="image" alt="Dish image" />
    </figure>
    <p class="dish">{{ dish }}</p>
    <data class="price" :value="price">{{ price.toFixed(3) }} KD</data>
    <div class="offer-container">
      <p class="offer">
        <v-icon class="tag-icon">mdi-tag</v-icon>Upto {{ discountPercentage }}%
        OFF
      </p>
      <p class="time">{{ time }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      required: true,
      default: "",
      description: "Defines the dish image",
    },
    dish: {
      type: String,
      required: true,
      default: "",
      description: "Defines the dish name",
    },
    price: {
      type: Number,
      required: true,
      default: 0,
      description: "Defines the dish price",
    },
    discountPercentage: {
      type: Number,
      required: true,
      default: 0,
      description: "Defines the discount percentage",
    },
    time: {
      type: String,
      required: true,
      default: "",
      description: "Defines the duration",
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/colors.scss";

.card-container {
  background: $white;
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
}
.image-container {
  width: 8rem;
  height: 8rem;
  align-self: center;
  img {
    width: 100%;
  }
}
.dish {
  margin-top: 1rem;
  font-size: 1rem;
}
.price {
  font-weight: bold;
}
.offer-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  .offer {
    color: $pink;
  }
  .tag-icon {
    transform: rotateY(180deg);
    color: $pink;
    margin-right: 0.5rem;
  }
  .time {
    font-size: 0.75rem;
  }
}
</style>
