<template>
  <div class="carousel-container">
    <div class="arrow-button" @click="prevClicked">
      <v-icon>mdi-chevron-left</v-icon>
    </div>
    <div v-for="(item, i) in currentData" :key="item.id">
      <div v-if="i < limit">
        <CarouselCard
          :image="item.image"
          :dish="item.dish"
          :price="item.rate"
          :discountPercentage="item.discount"
          :time="item.time"
        ></CarouselCard>
      </div>
    </div>
    <div class="arrow-button" @click="nextClicked">
      <v-icon>mdi-chevron-right</v-icon>
    </div>
  </div>
</template>

<script>
import CarouselCard from "@/components/carousel-card.vue";

export default {
  components: {
    CarouselCard,
  },
  props: {
    data: {
      type: Array,
      required: true,
      default: () => [],
      description: "Defines the array of relevant product data",
    },
  },
  data() {
    return {
      currentData: [],
      limit: 6,
      width: window.innerWidth,
    };
  },
  methods: {
    prevClicked() {
      const temp = this.currentData.shift();
      this.currentData.push(temp);
    },
    nextClicked() {
      const temp = this.currentData.pop();
      this.currentData.unshift(temp);
    },
    // This function would set the number of cards to be displayed in the carousel based on the screen width
    getCurrentData() {
      if (this.width > 1350) {
        this.limit = 6;
      } else if (this.width <= 1024 && this.width > 950) {
        this.limit = 4;
      } else if (this.width <= 950 && this.width > 750) {
        this.limit = 3;
      } else if (this.width <= 750 && this.width > 550) {
        this.limit = 2;
      } else if (this.width <= 550) {
        this.limit = 1;
      }
    },
  },
  mounted() {
    this.currentData = this.data;
    this.getCurrentData();
  },
};
</script>

<style scoped lang="scss">
@import "@/colors.scss";

.carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow-button {
  background: $white;
  border-radius: 50%;
  cursor: pointer;
}
.arrow-button:active {
  background: $grey;
}
</style>
