<template>
  <div class="checkout-card">
      <!-- Desktop view -->
      <div class="hide-sm">
        <h2 class="sub-total">Sub Total({{items}} Items): KD {{subtotal.toFixed(2)}}</h2>
        <p class="promo-discount">Promo Discount: KD {{discount.toFixed(2)}}</p>
        <h2 class="total">Total: KD {{(subtotal - discount).toFixed(2)}}</h2>
        <Button class="button-class" buttonText="Checkout" color="#00FFFF" rounded buttonWidth="12rem"></Button>
      </div>
      <!-- Mobile view -->
      <div class="show-sm">
          <h3 class="checkout-data"><span>Sub Total({{items}} Items)</span><span>KD {{subtotal.toFixed(2)}}</span></h3>
          <h3 class="checkout-data"><span>Promo Discount</span><span>KD {{discount.toFixed(2)}}</span></h3>
          <h3 class="checkout-data"><span>Total</span><span>KD {{(subtotal - discount).toFixed(2)}}</span></h3>
          <Button class="button-class" buttonText="Checkout" color="#00FFFF" rounded buttonWidth="12rem"></Button>
      </div>
  </div>
</template>

<script>
import Button from '@/components/common/button.vue'
export default {
    components: {
        Button,
    },
    props: {
        items: {
            type: Number,
            required: true,
            default: 0,
            description: "Defines the total number of items",
        },
        subtotal: {
            type: Number,
            required: true,
            default: 0,
            description: "Defines the sub-total",
        },
        discount: {
            type: Number,
            required: true,
            default: 0,
            description: "Defines the discount amount",
        },
    }
}
</script>

<style scoped lang="scss">
@import '@/colors.scss';

.checkout-card {
    padding: 2rem;
    background: $white;
    border-radius: 1rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: 768px) {
        align-items: flex-start;
        text-align: left;
        background: unset;
    }
    .button-class{
        align-self: center;
        ::v-deep .v-btn__content{
            font-weight: bold;
            color: $white;
        }
        @media (max-width: 768px) {
            margin-top: 1rem;
        }
    }
    .sub-total, .total {
        font-size: 1.2rem !important;
    }
    .sub-total {
        margin-bottom: 0.25rem;
    }
    .total {
        color: $primary;
        margin-bottom: 2rem;
    }
}
.checkout-data {
    display: flex;
    justify-content: space-between;
}
.hide-sm {
    @media(max-width: 768px) {
        display: none;
    }
}
.show-sm {
    display: none;
    @media(max-width: 768px) {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }
}
</style>