<template>
  <div class="food-card-container">
    <v-icon class="close-icon">mdi-close-box</v-icon>
    <figure class="dish-image hide-sm">
      <img :src="image" alt="Dish Image" />
    </figure>
    <div class="dish-details">
      <div class="mobile-image-container">
        <figure class="dish-image show-sm">
          <img :src="image" alt="Dish Image" />
        </figure>
        <div>
          <h3 class="dish-name">{{ dish }}</h3>
          <p class="restaurant">{{ restaurant }}</p>
          <data class="dish-price show-sm" :value="amount * qty"
            >{{ amount }} x {{ qty }} = {{ (amount * qty).toFixed(3) }} KD</data
          >
        </div>
      </div>
      <div class="rate-container hide-sm">
        <data class="dish-price" :value="amount * qty"
          >{{ amount }} x {{ qty }} = {{ (amount * qty).toFixed(2) }} KD</data
        >
        <integer-plusminus v-model="qty" :min="1"></integer-plusminus>
      </div>
      <div v-if="hasPromocode" class="promocode-container hide-sm">
        <TextField
          class="text-field"
          :textFieldClass="getTextFieldClass"
          v-model="promocode"
          :successMessage="successMessage"
          :errorMessage="errorMessage"
          :success="success"
        ></TextField>
        <Button
          buttonText="Apply"
          outlined
          rounded
          @click="onApplyClicked"
        ></Button>
      </div>
      <div class="rate-container-mobile show-sm">
        <TextField
          v-if="hasPromocode"
          class="text-field-mobile"
          :textFieldClass="getTextFieldClass"
          v-model="promocode"
          :successMessage="successMessage"
          :errorMessage="errorMessage"
          :success="success"
        ></TextField>
        <Button
          v-if="hasPromocode"
          buttonText="Apply"
          outlined
          rounded
          @click="onApplyClicked"
        ></Button>
        <integer-plusminus v-model="qty" :min="1"></integer-plusminus>
      </div>
    </div>
  </div>
</template>

<script>
import { IntegerPlusminus } from "vue-integer-plusminus";

import TextField from "@/components/common/textfield.vue";
import Button from "@/components/common/button.vue";

export default {
  components: {
    IntegerPlusminus,
    TextField,
    Button,
  },
  props: {
    image: {
      type: String,
      required: true,
      default: "",
      description: "Dish image",
    },
    dish: {
      type: String,
      required: true,
      default: "",
      description: "Dish name",
    },
    restaurant: {
      type: String,
      required: true,
      default: "",
      description: "Dish name",
    },
    amount: {
      type: Number,
      required: true,
      default: 0,
      description: "Dish Amount",
    },
    quantity: {
      type: Number,
      required: true,
      default: 0,
      description: "Dish Quantity",
    },
    hasPromocode: {
      type: Boolean,
      required: true,
      default: false,
      descrition: "Defines whether the dish has promo code",
    },
  },
  data() {
    return {
      promocode: "",
      qty: 0,
      validPromocode: "Promocode 1",
      success: false,
      successMessage: "",
      errorMessage: "",
    };
  },
  methods: {
    getTextFieldClass() {
      if (this.promocode === this.validPromocode) {
        this.success = true;
        this.successMessage = "\u20DD\u0021 Valid Promocode";
        this.errorMessage = "";
        return "success";
      } else {
        this.success = false;
        this.successMessage = "";
        this.errorMessage = "\u20DD\u0021 Invalid Promocode";
        return "failure";
      }
    },
    onApplyClicked() {
      this.success ? (this.successMessage = "\u0021 Promocode Applied") : "";
    },
  },
  mounted() {
    this.qty = this.quantity;
  },
  watch: {
    promocode: function() {
      this.getTextFieldClass();
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/colors.scss";

.food-card-container {
  background: $white;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}
.dish-details {
  width: 100%;
  padding: 0 1rem;
}
.dish-name,
.dish-price {
  font-weight: bold;
}
.restaurant {
  font-size: 0.875rem;
  color: $black;
  opacity: 0.6;
}
.close-icon {
  position: absolute;
  font-size: 2rem;
  top: -0.75rem;
  right: 1rem;
  color: $red;
}
.dish-image {
  margin: 1rem;
  height: 12rem;
  width: 12rem;
  @media (max-width: 768px) {
    height: 4rem;
    width: 4rem;
  }
  img {
    width: 100%;
  }
}
.rate-container {
  display: flex;
  justify-content: space-between;
}
.promocode-container {
  display: flex;
  align-items: flex-end;
}
.text-field {
  padding: 0 1rem;
}
.text-field-mobile {
  width: 100%;
  padding: 0.5rem;
}
.rate-container-mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mobile-image-container {
  display: flex;
}
.hide-sm {
  @media (max-width: 768px) {
    display: none;
  }
}
.show-sm {
  display: none;
  @media (max-width: 768px) {
    display: flex;
  }
}
::v-deep .int-pm .int-pm-value {
  line-height: 2.5rem;
  padding: 0.5rem;
  @media (max-width: 768px) {
    line-height: unset;
  }
}
::v-deep .v-btn__content {
  color: $black;
  text-transform: capitalize;
}
::v-deep .int-pm {
  max-height: 2.5rem;
  padding: 0 0.5rem;
}
::v-deep .v-messages__message {
  padding: 0 0.5rem;
}
@media (max-width: 768px) {
  ::v-deep .v-btn.v-size--default {
    font-size: 0.5rem;
  }
  ::v-deep .v-btn:not(.v-btn--round).v-size--default {
    padding: unset;
  }
}
</style>
