<template>
  <div class="header">
    <!-- Desktop view -->
    <div class="header-container hide-sm">
      <Textfield
        class="text-field"
        label="Street 1, Lane 4, block 12, salmiya"
        appendIcon="mdi-map-marker"
        solo
        @input="getAddress"
      ></Textfield>
      <Textfield
        class="text-field"
        label="Search..."
        appendIcon="mdi-magnify"
        solo
        @input="getSearchQuery"
      ></Textfield>
      <v-select
        class="select"
        :items="['En', 'Ar']"
        :label="'En'"
        solo
        @change="onLanguageChange"
      ></v-select>
      <div @click="onNotificationClick" class="notify-icon">
        <v-badge bordered color="#FFC300" dot offset-x="10" offset-y="10">
          <v-icon>mdi-bell</v-icon>
        </v-badge>
      </div>
      <Button
        buttonText="12.5 KWD"
        appendIcon="mdi-cart"
        badgeContent="2"
        @click="checkout"
      ></Button>
      <Button
        @click="userClick"
        buttonText="User"
        prependIcon="mdi-account-circle"
      ></Button>
    </div>
    <!-- Mobile view -->
    <div class="header-container show-sm">
      <v-icon class="back-icon">mdi-chevron-left</v-icon>
      <h2 class="header-title">Shopping Cart</h2>
      <div></div>
    </div>
  </div>
</template>

<script>
import Textfield from "@/components/common/textfield.vue";
import Button from "@/components/common/button.vue";
export default {
  name: "Header",
  components: {
    Textfield,
    Button,
  },
  data() {
    return {
      languages: ["En", "Ar"],
      selectedItem: this.items[0],
    };
  },
  methods: {
    getAddress(address) {
      console.log("Address: ", address);
      // Functionality when user tyes address will go here.
    },
    getSearchQuery(query) {
      console.log("Query: ", query);
      // Functionality when user types any search string will go here.
    },
    onLanguageChange(lang) {
      console.log("Language: ", lang);
      // Functionality when user changes language will go here.
    },
    onNotificationClick() {
      // Functionality when user clicks on the notification icon will go here.
    },
    checkout() {
      // Functionality when user clicks on checkout button will go here.
    },
    userClick() {
      // Functionality when user clicks on the user button will go here.
    },
  },
};
</script>

<style scoped lang="scss">
@import "@/colors.scss";
.header {
  background: $primary;
  width: 100%;
  min-height: 3rem;
}
.header-container {
  max-width: 75rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.text-field {
  max-width: 20rem;
  width: 100%;
}
.select {
  max-width: 6rem;
}
.text-field,
.select {
  margin-top: 1.5rem;
}
.notify-icon {
  padding: 0.5rem;
  border-radius: 50%;
  transition: background 0.4s;
}
.notify-icon:hover {
  cursor: pointer;
  background: $white;
}
.notify-icon:active {
  background: $white-2;
  background-size: 100%;
  transition: background 0s;
}
.back-icon {
  font-size: 2rem;
  color: $white;
  margin-top: 0.25rem;
}
.header-title {
  font-size: 1.25rem;
  margin-top: 0.25rem;
}
.hide-sm {
  @media (max-width: 768px) {
    display: none;
  }
}
.show-sm {
  display: none;
  @media (max-width: 768px) {
    display: flex;
    color: $white;
    align-items: center;
    font-weight: bold;
  }
}
::v-deep .mdi-map-marker,
::v-deep .v-label,
::v-deep .theme--light.v-select .v-select__selection--comma {
  color: $primary;
}
</style>
